.metadata/.lock
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/elevate.xml
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/protwords.txt
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/schema.xml
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/solrconfig.xml
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/stopwords.txt
.metadata/.plugins/org.eclipse.orion.server.core.search/conf/synonyms.txt
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.fdt
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.fdx
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.fnm
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.frq
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.nrm
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.prx
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.tii
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/_0.tis
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/segments.gen
.metadata/.plugins/org.eclipse.orion.server.core.search/data/index/segments_2
.metadata/.plugins/org.eclipse.orion.server.core.search/data/spellchecker/segments.gen
.metadata/.plugins/org.eclipse.orion.server.core.search/data/spellchecker/segments_1
.metadata/.plugins/org.eclipse.orion.server.core.search/index.generation
.metadata/.plugins/org.eclipse.orion.server.core/.settings/Projects.prefs
.metadata/.plugins/org.eclipse.orion.server.core/.settings/Users.prefs
.metadata/.plugins/org.eclipse.orion.server.core/.settings/Workspaces.prefs
.metadata/.plugins/org.eclipse.orion.server.user.securestorage/user_store
b/.settings/libs.settings
b/.settings/maqetta.dojo.themesets.settings
.metadata/*
luminet_world/out/*
luminet_world/.idea
luminet_world/platforms/android/assets/www/lib/clipart/*
luminet_world/platforms/android/assets/www/samples
luminet_world/platforms/android/assets/www/themes
luminet_world/platforms/*
luminet_wolrd/plugins/*
